<a
  *ngFor="let item of reposData"
  class="repositorie"
  href="{{ item.html_url }}"
  target="_blank"
>
  <h2 class="repo-name">{{ item.name }}</h2>
  <p class="repo-description">{{ item.description }}</p>

  <aside class="info-group">
    <div>
      <span>
        <img src="assets/svg/chield_alt.svg" alt="Child svg icon" />
      </span>

      <span>
        <img src="assets/svg/nesting.svg" alt="Nesting svg icon" />
        {{ item.forks_count }}
      </span>

      <span>
        <img src="assets/svg/star.svg" alt="Star svg icon" />
        {{ item.stargazers_count }}
      </span>
    </div>

    <p>{{ this.lastUpdate(item.updated_at) }}</p>
  </aside>
</a>
