@import '../../../../assets/scss/$_color-variables.scss';
@import '../../../../assets/scss/$_typograph.scss';

.repositorie {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    min-width: 350px;
    border-radius: 20px;
    padding: 1.5em;
    color: $iron;
    background: $mirage;
    background: linear-gradient(90deg, rgba(17, 23, 41, 1) 0%, rgba(29, 27, 72, 1) 100%);
    transition: all 0.25s;
    -webkit-box-shadow: 1px 4px 13px 0px rgb(0 0 0 / 36%);
    -moz-box-shadow: 1px 4px 13px 0px rgb(0 0 0 / 36%);
    box-shadow: 1px 4px 13px 0px rgb(0 0 0 / 36%);
    

    h2 {
        font-size: $body-text;
    }

    p {
        font-family: "Be Vietnam Pro Light";
        font-size: $body-text;
        color: #98a3b5;
    }

    .info-group {
        display: flex;
        justify-content: space-around;
        width: 100%;

        div {
            display: flex;
            gap: 1em;
            width: 100%;
        }

        p {
            width: max-content;
            font-size: smaller;
        }
    }
}

.repositorie:hover {
    transform: scale(0.95);
}

@media (max-width: 950px) {
    .repositorie {
        flex: 2;
    }
}

@media (max-width: 470px) {
    .repositorie {
        padding: 1.5em 1em;
        margin: 0 1em;
    }
}