<section>
  <figure class="profile-pic">
    <img [src]="apiData.avatar_url" alt="Profile picture" />
  </figure>

  <div class="cards-group">
    <div class="card">
      <p>Followers</p>
      <div class="vertical-bar"></div>
      <span>{{ apiData.followers }}</span>
    </div>
    <div>
      <p>Following</p>
      <div class="vertical-bar"></div>
      <span>{{ apiData.following }}</span>
    </div>
    <div>
      <p>Location</p>
      <div class="vertical-bar"></div>
      <span>{{ apiData.location }}</span>
    </div>
  </div>
</section>
