@import '../../../../assets/scss/$_color-variables.scss';
@import '../../../../assets/scss/$_typograph.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;

    .profile-pic {
        background-color: $ebony-clay;
        padding: 10px;
        border-radius: 20px;
        max-width: max-content;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            max-width: 100px;
            max-height: 100px;
            -webkit-box-shadow: 1px 4px 13px 0px rgb(0 0 0 / 36%);
            -moz-box-shadow: 1px 4px 13px 0px rgb(0 0 0 / 36%);
            box-shadow: 1px 4px 13px 0px rgb(0 0 0 / 36%);
            transition: all 0.25s;
        }

        img:hover {
            transform: scale(1.05);
        }
    }

    .cards-group {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        gap: 1em;

        .card {
            display: flex;
            align-items: center;
            gap: 10px;
            background: $mirage;
            padding: 1em;
            color: $bright-grey;
            width: max-content;
            -webkit-box-shadow: 1px 4px 13px 0px rgb(0 0 0 / 36%);
            -moz-box-shadow: 1px 4px 13px 0px rgb(0 0 0 / 36%);
            box-shadow: 1px 4px 13px 0px rgb(0 0 0 / 36%);

            .vertical-bar {
                height: 100%;
                width: 1px;
                background-color: $bright-grey;
            }

            span {
                color: $iron;
            }
        }
    }
}

aside {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    .infos {
        .name {
            display: flex;
            align-items: baseline;
            gap: 10px;
            flex-wrap: wrap;

            margin-bottom: 10px;

            h1 {
                font-size: $heading;
            }

            h1:hover {
                text-decoration: underline;
            }
        }

        p {
            color: #98a3b5;
            font-size: $title;
            font-family: 'Be Vietnam Pro Light';
        }
    }

    .social-links {
        display: flex;
        gap: 1em;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            max-width: 32px;
            max-height: 32px;
        }
    }
}

@media (max-width: 950px) {
    header {
        align-items: normal;

        .cards-group {
            flex-direction: column;
        }
    }

    aside {
        flex-direction: column;
        align-items: center;
        gap: 2.5em;
    }
}

@media (max-width: 550px) {
    header {
        flex-direction: column;

        .cards-group {
            .card {
                width: 100%;
            }
        }
    }

    aside {
        .infos {
            p {
                font-size: $body-text;
            }
        }
    }
}