<form (submit)="onSearch($event)">
  <input
    #usernameInput
    type="text"
    placeholder="username"
    [(ngModel)]="username"
    name="username"
    (focusout)="onFocusOut($event)"
  />
  
  <ul 
    *ngIf="suggestions | async as suggestions"
    (mousedown)="onDropdownClick($event)" 
  >
    <li
      *ngFor="let suggestion of suggestions"
      (click)="onSelect(suggestion.login)"
    >
      <figure>
        <img [src]="suggestion.avatar_url" alt="Avatar of {{ suggestion.login }}"/>
      </figure>
      
      <h1>{{ suggestion.login }}</h1>
    </li>
  </ul>
</form>
